[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-rf = "*"
matplotlib = "*"
openpyxl = "*"
pandas = "*"
citifile = "*"
pyinstaller = "*"
pyqt6 = "*"
appdirs = "*"

[dev-packages]

[requires]
python_version = "3.13"
