[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
numpy = "*"
scipy = "*"
scikit-rf = "*"
matplotlib = "*"
openpyxl = "*"
pandas = "*"
citifile = "*"

[dev-packages]
pyinstaller = "*"
pywin32-ctypes = {version = "*", markers = "sys_platform == 'win32'"}

[requires]
python_version = "3.13"
