[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-rf = "*"
matplotlib = "*"
tk = "*"
pygubu = "*"
openpyxl = "*"
appdirs = "*"
pandas = "*"
citifile = "*"
pyinstaller = "*"
pillow = "*"
copykitten = "*"

[dev-packages]

[requires]
python_version = "3.13"
